.orderPlacedPage{
  padding: 4.8rem 15% 0rem 15%;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.imageWrapper{
  width: 250px;
  height: 300px;
}

.buttonWrapper{
  margin-top: 20px;
}

.homeButton{
  padding: 15px 40px;
  background: none;
  border-radius: 10px;
  color: green;
  border: 1px solid green;
  font-weight: bold;
  cursor: pointer;
}


@media(max-width:450px){
    .orderPlacedPage{
        display: flex;
        align-items: center;
        padding-bottom: 5rem;
        justify-content: center;
        min-height: 100vh;
    }

    .content{
        gap: 5px;
    }

    .imageWrapper{
        width: 200px;
        height: 200px;
    }

    .homeButton{
        padding: 15px 25px;
    }
}