input{
    cursor: auto;
}

.Inactive{
    display: none;
}


.paymentPage{
  padding: 5rem 20% 5rem 20%;
  background-color: rgb(237, 237, 237);
  min-height: 100vh;
}

.paymentPageWrapper{
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  padding: 15px 10px;
}

.paymentOptions{
  display: flex;
  width: 50%;
  flex:1.2;
  border: 1px solid black;
  align-items: center;
  height: 50px;
  padding: 20px 10px;
  gap: 5px;
}

.radioInput {
  width: 15px;
  height: 15px;
  margin: 0;
  text-align: center;
  cursor: auto;
}

.radioLabel {
  font-size: 18px;
  color: green;
  margin-top: 1px;
}

.orderSummarySectionPaymentPage{
    flex:1;
}

.orderSummary{
  width: 100%;
  background-color: white;
  border: 1px solid black
}

.orderSummaryContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 20px 30px 20px;
}

.priceDetailsTitle {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.priceRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discountOnMRP {
  color: green;
}

.platformFee , .shippingFee{
  color: green;
  font-size: 12px;
}

.shippingFee {
  display: flex;
  gap: 5px;
}

.lineThroughSmall {
  text-decoration-line: line-through;
  font-size: 12px;
}

.totalAmountRow {
  display: flex;
  justify-content: space-between;
  border-style: dashed none;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 18px;
  border-width: 1px;
}


.placeOrderButton {
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 16px;
    background-color: rgb(10, 160, 10);
    border: none;
    font-weight: bold;
    transition: box-shadow 0.2s;
}

.placeOrderButton:hover {
    box-shadow: 0px 0px 6px black;
}

.Inactive {
    display: none;
}

@media (max-width:1000px){
    .paymentPage{
        padding: 5rem 10% 5rem 10%;
        background-color: rgb(237, 237, 237);
        min-height: 100vh;
    }
}

@media (max-width:650px){
    .paymentPage{
        padding: 5rem 5% 5rem 5%;
        background-color: rgb(237, 237, 237);
        min-height: 100vh;
    }

    .paymentPageWrapper{
        flex-direction: column;
        align-items: center;
    }
    .paymentOptions{
        width: 90%;
    }

    .orderSummarySectionPaymentPage{
        width: 90%;
    }
}


@media (max-width:450px){
    .paymentPage{
        padding: 5rem 2% 5rem 2%;
    }

    .paymentOptions{
        width: 98%;
    }

    .orderSummarySectionPaymentPage{
        width: 98%;
    }

    .radioInput {
        width: 12px;
        height: 15px;
    }

    .radioLabel {
        font-size: 16px;
        color: green;
        margin-top: 1px;
    }


    .priceDetailsTitle {
        font-size: 14px;
    }

    .priceRow {
        font-size: 14px;
    }

    .platformFee , .shippingFee{
        color: green;
        font-size: 10px;
    }

    .lineThroughSmall {
        text-decoration-line: line-through;
        font-size: 12px;
    }

    .totalAmountRow {
        font-size: 16px;
    }
    .placeOrderButton{
        font-size: 14px;
    }
}