.wishlistPage{
  padding: 4.8rem 15% 0 15%;
  background-color: rgb(237, 237, 237);
  height: 100vh;
}

.wishlistEmpty{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 10%;
}

.wishlistEmptyIcon{
  width: 30%;
  height: 30%;
}

.wishlistItem{
  display: flex;
  border-bottom: 1px solid black;
  background-color: white;
  text-decoration: none;
  color: inherit;
}

.wishlistImageContainer {
  width: 200px;
  height: 250px;
  padding: 25px;
}

.wishlistDetails {
  padding-top: 30px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mobileName {
  display: flex;
  font-weight: bold;
  font-size: 20px;
}

.mobileRating {
  display: flex;
  margin: 5px 0;
  font-weight: bold;
  font-size: 20px;
  background-color: green;
  justify-content: center;
  width: 50px;
  color: white;
  gap: 3px;
}

.ratingValue {
  margin-left: 5px;
}

.ratingStar {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.mobilePrice {
  display: flex;
  font-weight: bold;
  font-size: 20px;
}

.mobileHighlights {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  gap: 8px;
  list-style: none;
}

.highlightItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bulletDot {
  background-color: grey;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

@media(max-width:700px){
    .wishlistPage{
        padding: 4.8rem 10% 0 10%;
    }

    .wishlistImageContainer {
        width: 150px;
        height: 200px;
        padding: 20px;
    }

    .wishlistDetails {
        padding-top: 10px;
        padding-left: 10px;
    }

    .mobileName {
        font-size: 18px;
    }

    .mobileRating {
        font-size: 18px;
    }

    .ratingStar {
        margin: 0px;
    }

    .ratingValue {
        font-size: 16px;
    }

    .mobilePrice {
        font-size: 18px;
    }

    .mobileHighlights {
        font-size: 14px;
    }

    .highlightItem {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .bulletDot {
        background-color: grey;
        width: 4px;
        height: 4px;
        border-radius: 50%;
    }

}

@media(max-width:500px){
    .wishlistPage{
        padding: 4.8rem 0% 0 0%;
    }

    .wishlistImageContainer {
        width: 100px;
        height: 150px;
        padding: 10px;
    }

    .wishlistDetails {
        padding-top: 10px;
        padding-left: 10px;
        gap: 0px;
    }

    .mobileName {
        font-size: 14px;
    }

    .mobileRating {
        font-size: 1px;
        width: 40px;
    }

    .ratingStar {
        margin: 0px;
    }

    .ratingValue {
        font-size: 14px;
    }

    .mobilePrice {
        font-size: 14px;
    }

    .mobileHighlights {
        font-size: 10px;
    }

    .bulletDot {
        background-color: grey;
        width: 4px;
        height: 4px;
        border-radius: 50%;
    }


}